.body{
    font-family: "Poppins", sans-serif;
}

.banner{
    background-image: url("img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding:200px;
    color:white;
    text-align: center;
}
.text{
    text-align: justify;
}
